* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: sans-serif;
}

a {
    text-decoration: none;
    text-transform: uppercase;
}

ul {
    display: block;
}

img {
    vertical-align: middle;
}

#wrapper {
    width: 100%;
    height: auto;
}

#logo-content {
    width: 100%;
    height: 84px;
    /*padding-left: 15px;*/
    /*padding-right: 15px;*/
    border: none;
    background-color: black;
    margin: 0px;
}

#logo-content .logo {
    margin-left: 5%;
    float: left;
}

#logo-content .convert-language {
    padding-top: 40px;
    padding-right: 10%;
    float: right;
    margin: auto;
}

#logo-content .convert-language a {
    margin: 4px;
}

#menu-content {
    width: auto;
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 35px;
    padding-right: 35px;
}

#menu-content ul {
    list-style-type: none;
    text-align: center;
    background: #542670;
}

#menu-content ul li {
    width: 115px;
    height: 40px;
    line-height: 40px;
    display: inline-table;
    position: relative;
}

#menu-content ul li a {
    text-decoration: none;
    display: block;
    font-size: 14px;
    color: white;
    font-weight: 200;
}

#menu-content ul li > .sub-menu {
    display: none;
    position: absolute;
    background: rgba(84, 38, 112, 0.7);
}

#menu-content ul li > .sub-menu li {
    width: 235px;
    height: 40px;
    line-height: 40px;
    text-align: left;
}

#menu-content ul li:hover .sub-menu {
    display: block;
}

#menu-content ul li > .sub-menu li a {
    padding-left: 10px;
    padding-right: 15px;
    font-size: 12px;
    display: block;
    position: relative;
}

#menu-content ul li > .sub-menu li:hover {
    background: #542670;
}

#news-body {
    margin-left: auto;
    margin-right: auto;
    padding-left: 45px;
    padding-right: 45px;
    width: auto;
    height: auto;
}

#news-body .news-title {
    margin-top: 30px;
    font-size: 35px;
    text-transform: uppercase;
}

#news-body .news-title h4 {
    margin: 0px;
    padding-left: 30px;
    font-family: inherit;
    font-weight: 200;
}

#news-body .news-title hr {
    max-width: 270px;
    width: 100%;
    height: 3px;
    margin-top: 10px;
    background: #542670;
    border: 0px;
}

#news-body .content-news {
    width: auto;
    height: auto;
    margin-top: 10px;
}

#news-body .news-left {
    width: 66%;
    float: left;
    padding-left: 20px;
}

#news-body .news-info {
    margin: 0px;
    padding: 0px;
}

#news-body .row-news-info {
    clear: both;
    margin-top: 5px;
    padding-top: 10px;
}

#news-body .col-news-info {
    width: 30%;
    margin-right: 10px;
    margin-top: 10px;
    padding-left: 10px;
    float: left;
}

#news-body .box-text {
    padding-top: 10px;
    padding-left: 10px;
    font-weight: 200;
}

#news-body .content-news .news-left .news-info .row-news-info .col-news-info a .box-text h5{
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 200;
    color: #542670;
}

#news-body .content-news .news-left .news-info .row-news-info .col-news-info a .box-text p{
    padding-top: 15px;
    font-size: 13px;
    color: black;
}

#news-body .news-right {
    width: 30%;
    float: left;
    margin-left: 10px;
    padding-left: 10px;
}

#news-body .news-right h5{
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 400;
}

#news-body .latest-news {
    margin-top: 10px;
    float: left;
    clear: both;
}

#news-body .latest-news img {
    float: left;
    width: 40%;
}

#news-body .latest-news h6 {
    width: 60%;
    float: left;
    padding-left: 5px;
    font-weight: 400;
    font-size: 14px;
    color: #542670;
}

#news-body .latest-news a {
    color: black;
    margin-top: 5px;
}


